<div class="add_form">
    <%= form_with model: @post, local: true do |form|%>
        <div class="">
            <%= form.text_field :title, placeholder:"Add post title"%>
        </div>
        <div>
            <%= form.text_area :text, size:"70x5", placeholder:"Add post text" %>
        </div>
            <%= form.submit "Submit new post"%>
    <% end %>
</div>